<!--<div style="margin-top: 10px;">-->

<!--<div class="background-bodyleft">-->
<!--<ul class="nav nav-pills nav-stacked">-->
<!--<li ><a href    ="#"><i class="fa fa-home fa-fw"></i>Home</a></li>-->
<!--<li><a href="#"><i class="fa fa-list-alt fa-fw"></i>Catagory</a></li>-->
<!--<li><a href="#"><i class="fa fa-file-o fa-fw"></i>Tag</a></li>-->
<!--<li><a href="#"><i class="fa fa-tasks fa-fw"></i></a></li>-->
<!--<li><a href="#"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>-->
<!--<li><a href="#"><i class="fa fa-book fa-fw"></i>Library</a></li>-->
<!--<li><a href="#"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>-->
<!--</ul>-->


<ul>
    <% if(user && typeof user !== 'undefined') { %>
    <% user.forEach( function (todo){ %>

    <% user.toString() %>
    <li>
        <div class="content" style="margin-top: 20px;">
            <div class="img">
                <img src="<%= todo.avatar %>"
                     alt="Profile" style="width: 200px;height:200px;">
            </div>
            <div class="text">
                <h4><a style="text-decoration: none;" href="#" >Hi,I'm <%= todo.displayName %></a></h4>

                <h5 style="color: red;"><%= todo.aboutMe %></h5>
            </div>
        </div>
    </li>
    <% }); %>
    <%}%>

</ul>
<hr>
<ul>
    <% if(arrCategory && typeof arrCategory !== 'undefined'){ %>
    <li>
        <p style="padding-left:0;color: red;">CATAGORY<i class="icon-caret-down"></i></p>
        <ul>
            <% arrCategory.forEach(function(c){ %>
            <li>
                <a style="text-decoration: none;" href="/postByCategoryname?name=<%=c.categoryName%>"><%= c.categoryName %></a>
            </li>
            <% });%>
        </ul>
    </li>
    <% }%>
</ul>
<hr>
<ul>
    <% if(arrNewPost && typeof arrNewPost !== 'undefined'){ %>
    <li class="sl-menu ext-menu">
        <p style="padding-left:0;color: red;">BÀI VIẾT MỚI<i class="icon-caret-down"></i></p>
        <ul>
            <% arrNewPost.forEach(function(newpost) { %>
            <li>
                <a style="text-decoration: none;" href="/postByName?name=<%= newpost.title %>"><%= newpost.title %></a>
            </li>
            <% });%>
        </ul>
    </li>
    <%}%>
</ul>
<hr>
<ul>
    <% if(arrTag && typeof arrTag !== 'undefined'){ %>
    <li class="sl-menu ext-menu item-1230">
        <p style="padding-left:0;color: red;">TAG</p>
        <% arrTag.forEach( function(t){ %>
        <a style="text-decoration: none;" href="/postByTags?name=<%= t.tagsName %>"><%= t.tagsName %></a>
        <% });%>
    </li>
    <%}%>
</ul>
<!--<div id="menu">-->
<!--<a href="#" onclick="ChuaHoanThien()">-->
<!--<p id="music">-->
<!--<span></span>-->
<!--</p>-->
<!--</a>-->
<!--<a href="#" onclick="ChuaHoanThien()">-->
<!--<p id="photo">-->
<!--<span></span>-->
<!--</p>-->
<!--</a>-->
<!--<script type="text/javascript">-->
<!--function ChuaHoanThien() {-->
<!--alert('Xin lỗi, chức năng này đang trong giai đoạn phát triển');-->
<!--}-->
<!--</script>-->
<!--</div>-->
<!--<div><h2 class="add">Quảng cáo!</h2></div>-->

<!--</div>-->
<!--</div>-->