<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <!--<head data-gwd-animation-mode="quickMode">-->
    <!--<meta name="template" content="Banner 1.0.5">-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--&lt;!&ndash;<link href="footer.css" rel="stylesheet">&ndash;&gt;-->
    <!--<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="../css/bootstrap.min.css"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<link rel="stylesheet" href="../css/body.css">-->
    <!--<style>-->
    <!--body    { padding-top:50px; }-->
    <!--</style>-->
</head>
<body class="container">
<form method="post">
    <header>
        <% include ../views/partials/header %>
    </header>
    <hr>
    <main>
        <a href="/login">Login</a>
        <div class="container">
            <div id="blog" class="row">
                <!--body left-->
                <% include ../views/partials/bodyleft %>
                <!--body right-->

                <table cellspacing="0" style=";border-collapse:collapse;">
                    <% arrPost.forEach( function(p){ %>
                    <tr>
                        <td>
                            <div class="wrap_right_child">
                                <div class="wrap_right_child_title">
                                    <font color="#00afdb" size="6pt">
                                        <span id="phContent_ddlArticle_lbStt_0"><%= p._id %></span>/
                                    </font>
                                    <a id="phContent_ddlArticle_hplTitle_0" href="/postDetail?id=<%= p._id %>"><%= p.title%></a>
                                </div>
                                <div class="wrap_right_child_other">
                                    Đăng bởi <b>
                                    <span id="phContent_ddlArticle_lbAuthor_0">..........</span></b>,
                                    ngày <b>
                                    <span id="phContent_ddlArticle_lbDateCreated_0"><%= p.date %></span></b>
                                    - Lấy từ nguồn <b>
                                    <span id="phContent_ddlArticle_lbSource_0">..........</span></b>
                                    - <b>
                                    <span id="phContent_ddlArticle_lbView_0">.....</span></b>
                                    lượt xem
                                </div>
                                <div class="wrap_right_child_thumb">
                                    <a id="phContent_ddlArticle_hplImage_0" href="/postDetail?id=<%= p._id %>"><img id="phContent_ddlArticle_imgThumb_0"
                                                                                          src="<%= p.image %>"></a>
                                </div>
                                <div class="wrap_right_child_content">
                                    <span id="phContent_ddlArticle_lbContent_0"><%= p.description %></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
</form>
</body>
</html>
