<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>
    <meta charset="utf-8">
    <meta name='ckeditor-sample-required-plugins' content='sourcearea'>
    <script src='/js/ckeditor.js'></script>
    <script src='/js/sample.js'></script>
    <link href='css/sample.css' rel='stylesheet'>
    <script src="/js/post.js"></script>

</head>
<!--<body class="container">-->
<body>
<form >
    <!--<div class="background">-->
    <div class="container">
        <a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

        <div>
            <header>
                <% include ../views/partials/header %>
            </header>
            <main style="background-image: url(http://hachick.com/image/bgRight.png)">

                <div id="blog" class="row">
                    <!--body left-->

                    <div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">


                        <% include partials/bodyleft.ejs %>
                        </div>

                        <!--body right-->
                    <div class="bd-right">
                        <div style="margin-left: 10px;margin-right: 0px;">
                        <table cellspacing="0"
                               style="border-collapse:collapse;margin-left: 10px; background-image: url(http://hachick.com/image/bgLeft.png);margin-top: 5px;margin-right: 5px;/* margin-left: 5px; */border-bottom-left-radius: 1px;border-left: aqua;">
                            <% arrPost.forEach(function(p, idx){ %>
                            <tr>
                                <td>
                                    <div class="wrap_right_child">
                                        <div>
                                            <div class="wrap_right_child_title">
                                                <font color="#00afdb" size="6pt">
                                                    <span id="phContent_ddlArticle_lbStt_0"><%= idx+1 %></span>/
                                                </font>
                                                <a id="phContent_ddlArticle_hplTitle_0" href="/postDetail?id=<%=p._id %>"><%= p.title %></a>

                                            </div>
                                            <%if( username && typeof username !== 'undefined'){ %>
                                                <a href="/postEdit?id=<%=p._id %>" class="sl-menu-btn" style="display: inline; width:auto;margin-left: 48px;position: relative;top: -42px;right: -665px">Sửa</a>
                                            <%}else {%>
                                                <a href="/postEdit?id=<%=p._id %>" class="sl-menu-btn" style="display: none; width:auto;margin-left: 48px;position: relative;top: -42px;right: -665px">Sửa</a>
                                            <%}%>
                                            <div class="wrap_right_child_other">
                                                Đăng bởi <b>
                                                <span id="phContent_ddlArticle_lbAuthor_0"><%= p.user[3] %></span></b>,
                                                ngày <b>
                                                <span id="phContent_ddlArticle_lbDateCreated_0"><%= p.date %></span></b>

                                            </div>
                                            <div class="wrap_right_child_thumb">
                                                <a id="phContent_ddlArticle_hplImage_0" href="/postDetail?id=<%=p._id %>"><img
                                                        id="phContent_ddlArticle_imgThumb_0"
                                                        src="<%= p.image %>"></a>
                                            </div>
                                            <div class="wrap_right_child_content">
                                                <%= p.description %>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <% });%>
                            </table>
                            </div>
                            </div>


                    </div>

                <footer>
                    <% include ../views/partials/footer %>
                </footer>
                </main>
            </div>
        </div>

    </div>

</form>
</body>
</html>
