<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            /*background-image: url(http://hachick.com/image/bg.png);*/
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>

</head>
<!--<body class="container">-->
<body>
<form onSubmit="if(!confirm('Are you sure delete')){return false;}" method="post">
    <div class="container">
        <a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

        <div>
            <header>
                <% include ../views/partials/header %>
            </header>
            <main style="background-image: url(http://hachick.com/image/bgRight.png)">

                <div id="blog" class="row">
                    <!--body left-->
                    <div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">

                        <% include partials/bodyleft.ejs %>

                    </div>
                    <div class="bd-right" style="padding-top: 5px;padding-bottom: 200px;">
                        <div style="margin-left: 30px;margin-right: 40px;">
                            <% arrPost.forEach( function(p){ %>
                            <ul>
                                <center><h2 style="font-size: 40px;font-family: 'Rancho', serif"><%= p.title %></h2>
                                </center>

                                <%if( username && typeof username !== 'undefined'){ %>

                                <a href="/postEdit?id=<%=p._id %>" class="sl-menu-btn" style="display: inline; width:auto;position: relative;top: -42px;right: -665px">Sửa</a>
                                <input type="submit" value="Delete My Data" />


                                <%}else {%>
                                <a href="/postEdit?id=<%=p._id %>" class="sl-menu-btn" style="display: none; width:auto;position: relative;top: -42px;right: -665px">Sửa</a>
                                <input type="submit" value="Delete My Data" />

                                <%}%>

                                <div class="wrap_right_child_other">
                                    Đăng bởi <b>
                                    <span id="phContent_ddlArticle_lbAuthor_0"><%= p.user[0] %></span></b>,
                                    ngày <b>
                                    <span id="phContent_ddlArticle_lbDateCreated_0"><%= p.date %></span></b>

                                </div>
                                <br>
                                <li>
                                    <div><%- p.content %></div>
                                </li>
                                <br>
                                <hr>


                            </ul>

                            <!--Show tag đây-->
                            <ul>
                                <li>
                                    <div style="margin-left: 40px;border-top: 1px;border-color: #ff413e;">
                                        <p style="font-size: 15px;">TAG:</p>
                                        <% p.tags.forEach(function(t) { %>
                                        <a href="/postByTags?name=<%= t %>" style="font-size: 15px;margin: 0 5px 5px 0;
                                            padding: 4px 14px;
                                            display: inline-block;
                                            border: 1px solid #CCCCCC;
                                            border-radius: 50px 50px 50px 50px;
                                            background: #fff;
                                            font-family: Georgia;
                                            font-style: italic;
                                            font-size: 90% !important;
                                            text-decoration: none;">
                                            <%= t %></a>
                                        <%});%>
                                    </div>
                                </li>
                            </ul>
<!---->
                            <% });%>
                            <br><br>
                        </div>
                    </div>

                </div>
                <footer>
                    <% include ../views/partials/footer %>
                </footer>
            </main>
        </div>
    </div>
</form>
</body>