<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
    <style>
        .background {
            /*background-image: url(http://hachick.com/image/bg.png);*/
            background-image: url(http://hachick.com/image/bg.png);
        }

    </style>

</head>
<!--<body class="container">-->
<body>
<form>
    <div class="background">
        <div class="container">
            <!--<div class="back-top affix" data-spy="affix" data-offset-top="500">-->
            <!--<a href="#"><img src="http://b0.ttimg.vn/img/img_201302/icon_backTop.gif" alt="back to top"></a>-->
            <!--</div>-->
            <!--<a href="" id="back-to-top"><i class="icon-long-arrow-up"></i></a>-->
            <a href="#" class="back-to-top"><i class="icon-long-arrow-up"></i></a>

            <div>
                <header>
                    <% include ../views/partials/header %>
                </header>
                <main style="background-color: aliceblue ">

                    <div id="blog" class="row">
                        <!--body left-->
                        <div class="col-md-3" style="
                            background-image: url(http://hachick.com/image/bgRight.png);
                            margin-left: 15px;
                            margin-top: 0px;margin-right:0px;&nbsp;;
                            height: 100%;">

                            <!--<% include ../views/partials/bodyleft %>-->

                            <ul>
                                <li>
                                    <div class="content" style="margin-top: 20px;">
                                        <div class="img">
                                            <img src="<%= user.avatar %>"
                                                 alt="Profile" style="width: 200px;height:200px;">
                                        </div>
                                        <div class="text">
                                            <h4><a href="#">Hi,I'm <%= user.username %></a></h4>

                                            <h5><%= user.aboutMe %></h5>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <hr>
                            <ul>
                                <li>
                                    <p style="padding-left:0;">CATAGORY<i class="icon-caret-down"></i></p>
                                    <ul>
                                        <% arrCategory.forEach(function(c){ %>
                                        <li>
                                            <a href="/postByCategoryname"><%= c.categoryName %></a>
                                        </li>

                                        <% });%>
                                    </ul>
                                </li>
                            </ul>
                            <hr>
                            <ul>
                                <li class="sl-menu ext-menu">
                                    <p style="padding-left:0;">BÀI VIẾT MỚI<i class="icon-caret-down"></i></p>
                                    <ul>
                                        <% arrNewPost.forEach(function(newpost) { %>
                                        <li>
                                            <a href="#"><%= newpost.title %></a>
                                        </li>
                                        <% });%>
                                    </ul>
                                </li>
                            </ul>
                            <hr>
                            <ul>
                                <li class="sl-menu ext-menu item-1230">
                                    <p style="padding-left:0;">TAG</p>
                                    <% arrTag.forEach( function(t){ %>
                                    <a href="#"><%= t.tagsName %></a>
                                    <% });%>
                                </li>

                            </ul>
                        </div>
                        <div>
                            body
                        </div>

                    </div>
                    <footer>
                        <% include ../views/partials/footer %>
                    </footer>
                </main>
            </div>
        </div>
    </div>
</form>
</body>